.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    margin: 50px auto;
    color: #fff;
}

.formTitle {
    font-size: 2rem;
    font-family: 'Georgia', serif;
    color: #e0ac69;
    margin-bottom: 20px;
}

.formGroup {
    width: 100%;
    margin-bottom: 15px;
}

.formLabel {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

.formInput {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #fff;
}

.errorLabel {
    color: #ff4d4d;
    font-size: 0.8rem;
    margin-top: 5px;
}

.formButton {
    background-color: #e0ac69;
    color: #1f1f1f;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.formButton:disabled {
    background-color: #808080;
    cursor: not-allowed;
}

.formButton:hover:not(:disabled) {
    background-color: #d5955e;
}

.link {
    color: #e0ac69;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
